@import '@/styles/variables.css';

.formAsideMobile {
    display: flex;
    column-gap: 5px;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}

.formAsideMobileCheckbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.formAsideMobileCheckbox:checked::after {
    content: "✓";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 14px;
    color: black;
}

.label {
    display: inline-block;
    font-size: 5vw;
}