@import '@/styles/variables.css';

.formAside {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 40px;
}

.formAsideCheckbox {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #FFF9DE !important;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.formAsideCheckbox:checked::after {
    content: "✓";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 14px;
    color: black;
}

.formAside .label {
    display: inline-block;
    font-size: var(--fs-md) !important;
    @media (min-width : 280px) and (max-width : 1023px) {
        font-size: 5vw;
    }
}