@import '@/styles/variables.css';

.formAside {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin-top: 40px;
}

.formAside input {
    accent-color: white;
    caret-color: var(--clr-text);
    outline: 1px solid var(--clr-text);
}

.formAside .label {
    display: inline-block;
    font-size: var(--fs-md) !important;
    @media (min-width : 280px) and (max-width : 1023px) {
        font-size: 5vw;
    }
}